#body {
    background-color: #2c3e50;
    color: white;
}
#weekdays{
    color: #f1c40f;
    
}

#moday{
    background-color: #f1c40f;
    color: black;
    border:2px solid black;
}

#tuesday{
    background-color: #f1c40f;
    color: black;
    border:2px solid black;
}

#wednesday{
    background-color: #f1c40f;
    color: black;
    border:2px solid black;
}

.red{
    color: #e74c3c ;

}
